.news-feed-wrapper .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
}
.news-feed-wrapper .header-icon img {
    width: 40px;
}
.news-feed-wrapper .header DIV {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    

}

.news-feed-wrapper .feed-item {
    display: flex;
    direction: row;
    padding: 6px;
    border-bottom: 1px solid #E6ECF0;
}

.feed-item .img-col img {
    width: 50px;
    border-radius: 50%;
}

.feed-item .story-col {
    padding: 10px;
}
.news-feed-wrapper .profile {
    border-bottom: 8px solid #E6ECF0;
}
.feed-item .story-col .text-area textarea {
    height: 45px;
    border: 0px transparent;
    font-size: 1.5em;
    color: #e3e3e3;
    width: 100%;
}

.icon-e img {
    width: 25px;
    border-radius: 50%;
}

.feed-item-footer .icon-e img {
    width: 15px;
} 

.story-col .top-title .name{
    font-weight: bold;
}
.story-col .top-title .more{
    color: rgb(114, 101, 101);
    font-size: 0.8em;
}
.story-col .feed-item-profile,
.story-col .icone-list  {
    display: flex;
    direction: row;
    justify-content: space-between;
}
.story-col .description {
    padding: 10px 0 10px 3px
}
.story-col .feed-item-footer {

}
.story-col .icone-list {
    justify-content: space-evenly;
}

.story-col .feed-item-footer {
    justify-content: space-between;
}
.icone-list div{
    padding: 10px 15px 0 0;
    align-items: center;
}
.icone-list div:hover{
    background-color: hotpink;
}
.nav-bottom button{
    margin-top: 20px;
    width:90%;
}